.iconMagnifyingGlass {
  mask-image: url('../../../../../assets/magnifying-glass.svg');
}

.iconPin {
  mask-image: url('../../../../../assets/pin.svg');
}

.iconMic {
  mask-image: url('../../../../../assets/mic.svg');
}

.iconChat {
  mask-image: url('../../../../../assets/chat.svg');
}
