.prerequisitesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    grid-template-areas:
      'html js'
      'css js';
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
}

.cardJs {
  @media (min-width: $screen-md-min) {
    grid-row: 1 / -1;
    grid-column: 2;
  }
}

.cardTitle {
  margin-bottom: 16px;
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
}

.testCtaBanner {
  background-color: $aztec-atom;
}
