.card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  background-color: #fff;
}

.iconWrapper {
  flex-shrink: 0;
}

.description {
  color: $carbon-fiber;
  font-size: 1.1rem;
  line-height: 1.7;
}
