.cardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

.iconClock {
  background-image: url('../../../../assets/clock.svg');
}

.iconPeople {
  background-image: url('../../../../assets/people.svg');
}

.iconCode {
  background-image: url('../../../../assets/code.svg');
}

.iconStar {
  background-image: url('../../../../assets/medal.svg');
}

.iconBook {
  background-image: url('../../../../assets/computer.svg');
}

.iconTarget {
  background-image: url('../../../../assets/suitcase.svg');
}
