.mediumBanner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  margin-top: 48px;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    gap: 24px;
    margin-top: 64px;
  }
}

.icon {
  background: url('../../../assets/book.svg') no-repeat center center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}

.title {
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;

  @media (min-width: $screen-md-min) {
    font-size: 1.5rem;
  }
}

.description {
  color: $carbon-fiber;
  font-size: 0.875rem;
  line-height: 1.6;

  @media (min-width: $screen-md-min) {
    font-size: 1rem;
  }
}
