.teamLeadership {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.teamGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}
