.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.thumbnail {
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
}

.cardTitle {
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
}

.cardAuthor {
  color: $cursed-gray;
  font-size: 0.875rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
