.basicCard {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border: 2px solid $carbon-fiber;
  border-radius: 16px;
  background-color: $crystal-cut;
  box-shadow: 4px 4px 0 $carbon-fiber;

  @media (min-width: $screen-sm-min) {
    padding: 40px 32px;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  border: 2px solid $carbon-fiber;
  border-radius: 12px;
  background-color: #fff;
}

.iconRed {
  background-color: $grapefruit-pulp;
}

.iconCyan {
  background-color: $aztec-atom;
}

.iconPurple {
  background-color: $pale-lavender;
}

.title {
  margin: 0 0 16px;
  color: $carbon-fiber;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
}

.description {
  margin: 0;
  color: $carbon-fiber;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: left;
}
