$aztec-atom: #05cddd;
$crystal-cut: #faf5ed;
$grapefruit-pulp: #fe7160;
$pale-lavender: #704dff;
$carbon-fiber: #2d2d2d;
$exploding-star: #ffda3c;
$cursed-gray: #666;
$white-80: rgb(255 255 255 / 80%);
$white-20: rgb(255 255 255 / 20%);
