.ctaBanner.ctaBanner {
  background-color: $grapefruit-pulp;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
