.teamGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}
