.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
  max-height: 560px;

  @media (min-width: $screen-sm-min) {
    max-width: min(40vw, 450px);
    max-height: unset;
  }

  @media (min-width: $screen-md-min) {
    max-width: min(30vw, 420px);
  }
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  border: 3px solid $carbon-fiber;
  border-radius: 16px;
  background-color: $crystal-cut;
}

.image {
  object-fit: cover;
  object-position: 100% 30%;
  width: 100%;
  height: 100%;
}

.name {
  margin-bottom: 4px;
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}

.role {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4;
  text-shadow: 1px 1px 0 var(--team-color, $aztec-atom);
}

.description {
  color: $cursed-gray;
  font-size: 1.1rem;
  line-height: 1.6;
}

.socialLinks {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.icon {
  border-color: var(--team-color, $aztec-atom);
  background-color: $carbon-fiber;
}
