.body {
  background-color: $crystal-cut;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px $mobile-horizontal-padding;
  border-bottom: 4px solid $carbon-fiber;
  background-color: $crystal-cut;

  @media (min-width: $screen-md-min) {
    padding: 16px $desktop-horizontal-padding;
  }
}

.logo {
  display: block;
  width: 200px;
  height: 40px;
  background-color: $carbon-fiber;
  mask-image: url('../assets/logo.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.headerNav {
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
  }
}

.headerNavLinks {
  gap: 32px;

  @media (min-width: $screen-md-min) {
    align-items: center;
  }
}

.content {
  flex: 1 0 auto;
}
