@import '../styles/breakpoint';
@import '../styles/color';

.home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight {
  color: $pale-lavender;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    gap: 32px;
  }

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    gap: 32px;

    > * {
      flex: 1;
    }
  }
}

.yellowSectionWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 48px;
  padding: 0 24px;

  @media (min-width: $screen-sm-min) {
    padding: 0 40px;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 64px;
  }
}
