.header {
  display: flex;
  align-items: center;
  margin: 24px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1;
  color: $cyan-atom;
}

.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  font-size: 0.9rem;
  font-weight: 600;
}
