.title {
  margin: 0;
  padding: 24px 0;
  color: $aztec-atom;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;

  @media (min-width: $screen-md-min) {
    padding: 48px 0;
    font-size: 6rem;
  }
}
