.benefitsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;

  @media (min-width: $screen-md-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.benefitCard {
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: white;
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.iconCircleCheck {
  width: 24px;
  height: 24px;
  background-image: url('../../../../assets/circleCheck.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.benefitText {
  margin: 0;
  color: $carbon-fiber;
  font-size: 1rem;
  line-height: 1.6;
}
