.statsCard {
  padding: 16px;
  background-color: #fff;
}

.label {
  color: $cursed-gray;
  font-size: 0.9rem;
  line-height: 1.4;
}

.valueWrapper {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2;
}
