.basicCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $crystal-cut;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  border: 3px solid $carbon-fiber;
  border-radius: 12px;
}

.baseIcon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconGrapefruitPulp {
  background-color: $grapefruit-pulp;
}

.iconAztecAtom {
  background-color: $aztec-atom;
}

.iconPaleLavender {
  background-color: $pale-lavender;
}

.iconExplodingStar {
  background-color: $exploding-star;
}

.title {
  margin-bottom: 16px;
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
}

.description {
  color: $cursed-gray;
  font-size: 1.1rem;
  line-height: 1.7;
}
