.basicCard {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $crystal-cut;
}

.iconWrapper {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 16px;
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
}

.description {
  color: $cursed-gray;
  font-size: 1.1rem;
  line-height: 1.7;
}
