.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 3px solid $carbon-fiber;
  border-radius: 32px;
  background-color: var(--button-color, transparent);
  color: #fff;
  box-shadow: 3px 3px 0 $carbon-fiber;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;

  &:hover {
    box-shadow: 2px 2px 0 $carbon-fiber;
    transform: translate(1px, 1px);
  }

  &:active {
    box-shadow: 1px 1px 0 $carbon-fiber;
    transform: translate(2px, 2px);
  }

  &:focus-visible {
    outline: 3px solid $aztec-atom;
  }
}

.darkText {
  color: $carbon-fiber;
}
