@import '../styles/color';
@import '../styles/breakpoint';

.ctaBanner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  background-color: $grapefruit-pulp;

  @media (min-width: $screen-md-min) {
    gap: 20px;
  }
}

.title {
  color: $carbon-fiber;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 2rem;
  }
}

.description {
  color: $carbon-fiber;
  line-height: 1.7;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 1.1rem;
  }
}
