.wrapper {
  height: 100%;
}

.dataCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 24px 16px;
  border: 3px solid $carbon-fiber;
  border-radius: 16px;
  background-color: #fff;
}

.valueWrapper {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  white-space: nowrap;

  @media (min-width: $screen-md-min) {
    font-size: 2.5rem;
  }
}

.dataLabel {
  color: $cursed-gray;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
}

.star {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: currentcolor;
  mask-image: url('../assets/star.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  @media (min-width: $screen-md-min) {
    width: 30px;
    height: 30px;
  }
}
