.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 3px solid $carbon-fiber;
  border-radius: 16px;
  background-color: var(--icon-color);
}

.baseIcon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
