.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 3px solid $carbon-fiber;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}

.iconButtonPrimary {
  background-color: var(--icon-button-background-color, transparent);
  box-shadow: 3px 3px 0 $carbon-fiber;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;

  &:hover {
    box-shadow: 2px 2px 0 $carbon-fiber;
    transform: translate(1px, 1px);
  }

  &:active {
    box-shadow: 1px 1px 0 $carbon-fiber;
    transform: translate(2px, 2px);
  }

  &:focus-visible {
    outline: 3px solid $aztec-atom;
  }
}

.iconButtonSecondary {
  border-color: $white-20;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  &:hover {
    border-color: $aztec-atom;
    background-color: $aztec-atom;
  }

  &:focus-visible {
    outline: 2px solid $aztec-atom;
    outline-offset: 2px;
  }
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--icon-color, $carbon-fiber);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
