.particleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: $z-index-foreground;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: particleBurst 800ms ease-out forwards;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes particleBurst {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(calc(-50% + var(--angleX)), calc(-50% + var(--angleY)))
      scale(var(--particleSize));
  }
}
