.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-screen-width;
  margin: 0 auto;
  padding: 48px 0;

  @media (min-width: $screen-md-min) {
    padding: 80px 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 80px;
  }
}

.pill {
  padding: 10px 32px;
  border: 3px solid $carbon-fiber;
  border-radius: 32px;
  background-color: var(--pill-color);
  color: $carbon-fiber;
  box-shadow: 3px 3px 0 $carbon-fiber;
  white-space: nowrap;

  @media (min-width: $screen-md-min) {
    padding: 12px 36px;
  }
}

.heading {
  color: $carbon-fiber;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 2.5rem;
  }
}

.subheading {
  max-width: 750px;
  color: $carbon-fiber;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 1.15rem;
  }
}
