.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $max-screen-width;
  margin: 0 auto;
  padding: 48px $mobile-horizontal-padding;
  border-bottom: 3px solid $carbon-fiber;

  @media (min-width: $screen-md-min) {
    padding: 80px $desktop-horizontal-padding;
  }

  &:nth-child(even) {
    background-color: white;
  }

  &:last-child {
    border-bottom: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 80px;
  }
}

.pill {
  margin-bottom: 32px;
  border-bottom: 4px solid var(--title-color);
  color: $carbon-fiber;
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;
}

.heading {
  color: $carbon-fiber;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 2.5rem;
  }
}

.subheading {
  max-width: 750px;
  color: $carbon-fiber;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 1.15rem;
  }
}
