.card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  background-color: #fff;
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 3px solid $carbon-fiber;
  border-radius: 16px;
}

.baseIcon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconGrapefruitPulp {
  background-color: $grapefruit-pulp;
}

.iconAztecAtom {
  background-color: $aztec-atom;
}

.iconPaleLavender {
  background-color: $pale-lavender;
}

.iconExplodingStar {
  background-color: $exploding-star;
}

.description {
  color: $carbon-fiber;
  font-size: 1.1rem;
  line-height: 1.7;
}
