.highlight {
  color: $pale-lavender;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 32px;
  }
}
