.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}

.iconPeople {
  background-image: url('../../../assets/people.svg');
}

.iconHeart {
  background-image: url('../../../assets/heart.svg');
}

.iconTarget {
  background-image: url('../../../assets/target.svg');
}
